<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for my Mock Twitter app, see here for the
      <a href="twitter.com"> Real Twitter App</a>.
    </p>
  </body>
</html>